# Step 1: Preprocessing Data for Training
Missing values are imputed

In [1]:
import pandas as pd
import numpy as np

In [2]:
datafile_name = "EDA_df.csv"
data_filepath = f'./Raw_Data/{datafile_name}'
basis_df = pd.read_csv(data_filepath)

In [3]:
basis_df.columns

Index(['application_number', 'customer_no', 'product_description',
       'loan_account_no', 'requested_loan_amount', 'original_emi_amount',
       'res_years_at_current_city', 'res_resident_status', 'res_city',
       'res_state', 'age', 'date_of_birth', 'manufacturer',
       'down_payment_amount', 'total_income', 'branch_name', 'occupation_type',
       'industry', 'interest_rate', 'number_of_installments',
       'loan_asset_cost', 'bureau_score', 'asset_category', 'asset_model',
       'dealer', 'branch_id', 'channel', 'final_sanctioned_amount',
       'disbursal_amount', 'res_years_at_current_address', 'gender',
       'marital_status', 'nature_of_business', 'years_in_occupation',
       'loan_application_date'],
      dtype='object')

In [4]:
basis_df.isnull().sum()

application_number                  0
customer_no                         0
product_description                 0
loan_account_no                     0
requested_loan_amount               0
original_emi_amount                 0
res_years_at_current_city           0
res_resident_status                 1
res_city                            4
res_state                           0
age                                 0
date_of_birth                       0
manufacturer                        0
down_payment_amount                 0
total_income                        2
branch_name                         0
occupation_type                     1
industry                          360
interest_rate                       0
number_of_installments              0
loan_asset_cost                     0
bureau_score                        0
asset_category                      0
asset_model                         0
dealer                              0
branch_id                           0
channel                             0
final_sanctioned_amount             0
disbursal_amount                    0
res_years_at_current_address        0
gender                              0
marital_status                      0
nature_of_business                419
years_in_occupation             33435
loan_application_date               0
dtype: int64

In [5]:
#load data
datafile_name = datafile_name
data_filepath = f'./Raw_Data/{datafile_name}'
basis_df = pd.read_csv(data_filepath)

#lower case all column names
basis_df.columns = basis_df.columns.str.lower()

#drop missing and zero disbursal_amount      #reason: no disbursal amount
# basis_df = basis_df.dropna(subset = 'disbursal_amount')
# basis_df = basis_df[basis_df.disbursal_amount != 0]

#choose necessary model variables
variables = ['bureau_score', 'product_description','loan_account_no',
             'res_years_at_current_city','res_resident_status','res_city',
             'res_state','age','manufacturer',
             'down_payment_amount','total_income','branch_name',
             'occupation_type', 'industry','interest_rate',
             'number_of_installments','loan_asset_cost','asset_model',
             'channel','res_years_at_current_address','gender',
             'marital_status', 'nature_of_business','years_in_occupation']
#note: no requested_loam_amount (to be confirmed)

df = basis_df[variables].copy()

In [6]:
#df.isnull().sum()

In [7]:
print(f'res_resident_status mode: {df.res_resident_status.mode()[0]}')
print(f'res_city mode: {df.res_city.mode()[0]}')
print(f'total_income median: {df.total_income.median()}')
print(f'occupation_type mode: {df.occupation_type.mode()[0]}')
print(f'industry mode: {df.industry.mode()[0]}')
print(f'nature_of_business mode: {df.nature_of_business.mode()[0]}')
print(f'years_in_occupation median: {df.years_in_occupation.median()}')

res_resident_status mode: Owned by Parent /Sibling
res_city mode: MUMBAI
total_income median: 420000.0
occupation_type mode: Salaried
industry mode: Others
nature_of_business mode: Services
years_in_occupation median: 3.0

In [8]:
def standard_format_data(raw_datafilename):
    #load necessary libraries
    import pandas as pd
    import numpy as np
    
    #load data
    datafile_name = raw_datafilename
    data_filepath = f'./Raw_Data/{datafile_name}'
    basis_df = pd.read_csv(data_filepath)

    #lower case all column names
    basis_df.columns = basis_df.columns.str.lower()

    #choose necessary model variables
    variables = ['bureau_score', 'product_description','loan_account_no',
             'res_years_at_current_city','res_resident_status',
             'res_city','res_state','age',
             'manufacturer','down_payment_amount','total_income',
             'branch_name','occupation_type', 'industry',
             'interest_rate','number_of_installments','loan_asset_cost',
             'asset_model','channel','res_years_at_current_address',
             'gender', 'marital_status', 'nature_of_business',
             'years_in_occupation']
    #note: no requested_loam_amount (to be confirmed)
    df = basis_df[variables].copy()

    #fill missing values; imputation using median values
    #cols cannot have missing values: bureau_score
    df['total_income'] = df['total_income'].fillna(df.total_income.median())
    df['monthly_income'] = df['total_income'] / 12 #derived
    df['down_payment_amount'] = df['down_payment_amount'].fillna(df.down_payment_amount.median())
    df['loan_asset_cost'] = df['loan_asset_cost'].fillna(df.loan_asset_cost.median())
    df['dp_ratio'] = df.down_payment_amount/ df.loan_asset_cost #derived

    df['res_resident_status'] = df.res_resident_status.fillna(df.res_resident_status.mode()[0])
    df['res_city'] = df['res_city'].fillna(df.res_city.mode()[0])
    df['occupation_type'] = df['occupation_type'].fillna(df.occupation_type.mode()[0])
    df['industry'] = df['industry'].fillna(df.industry.mode()[0])
    df['nature_of_business'] = df['nature_of_business'].fillna(df.nature_of_business.mode()[0])
    df['years_in_occupation'] = df['years_in_occupation'].fillna(df.years_in_occupation.median())
    
    df['branch_name'] = df['branch_name'].fillna(df.branch_name.mode()[0])
    df['age'] = df['age'].fillna(df.age.median())
    df['number_of_installments'] = df['number_of_installments'].fillna(df.number_of_installments.median())
    df['res_state'] = df['res_state'].fillna(df.res_state.mode()[0])
    df['product_description'] = df['product_description'].fillna(df.product_description.mode()[0])
    df['marital_status'] = df['marital_status'].fillna(df.marital_status.mode()[0])
    df['manufacturer'] = df['manufacturer'].fillna(df.manufacturer.mode()[0])
    
    #standardize values capitalization
    df = df.map(lambda x: x.upper() if isinstance(x, str) else x)
    
    #remove trailing and leading spaces
    obj_cols = list(df.select_dtypes('object'))
    df[obj_cols] = df[obj_cols].apply(lambda category: category.str.strip()) 
    
    #remove spaces in between values, replace with underscore
    df = df.map(lambda x: '_'.join(x.split()) if isinstance(x, str) else x)
    
    #convert to expected numerical datatypes
    float_cols = ['age','dp_ratio', 'down_payment_amount', 
                  'total_income','interest_rate','monthly_income']
    int_cols = ['bureau_score','res_years_at_current_city', 'loan_asset_cost','number_of_installments',
               'res_years_at_current_address','years_in_occupation']
    
    df[int_cols] = df[int_cols].astype(int)
    df[float_cols] = df[float_cols].astype(float)
    standard_df = df.copy()

    return standard_df

In [9]:
standard_data = standard_format_data('EDA_df.csv')
standard_data.to_csv(f'./Cleaned_Data/cleaned_{datafile_name}.csv')

In [10]:
standard_data.shape

(52197, 26)

At this point, the column names of the data has been lowercased, while all the categorical values have been capitalized. Spaces were converted to underscores. Data has been imputed; no missing values.

In [10]:
mixed_dtype_columns = [col for col in standard_data.columns if standard_data[col].apply(type).nunique() > 1]
print("Columns with mixed data types:", mixed_dtype_columns)

Columns with mixed data types: []

In [11]:
# #grouping asset_model
# text_list = ['SPLENDOR', 'ACCESS', 'BURGMAN', 'ACTIVA', 'NTORQ', 'JUPITER', 'HF', 'AVENIS']
# # Function to check and assign text or 'Others'
# def check_text(value):
#     value = value.replace('_', ' ')  # Replace underscores with spaces
#     for text in text_list:
#         if text in value:
#             return text
#     return 'Others'

# # Create new column based on the function
# df['asset_model_grp'] = df['asset_model'].apply(check_text)

In [12]:
#df['asset_model_keyword'].value_counts() #21225/52197 ##40% others; 60% keywords

In [13]:
 df['industry'].unique()

array(['Others', 'Apparels', 'Automobiles', 'Industrial equipment',
       'Agriculture', 'Healthcare Providers', 'Food & Beverages',
       'Durables', 'Healthcare', 'Computers', 'Food Products', nan,
       'Transportation Logistics', 'Education Institution',
       'Construction', 'Food Processing', 'Household Products',
       'Non Store Retail', 'Financial Services', 'Transport',
       'Hardware Equipment', 'Textiles', 'Insurance', 'Gen Indl Services',
       'Reliance Industries', 'Chemicals', 'Paper', 'Jewellery',
       'Broadline/ Multiline', 'Software', 'Electronics', 'FMCG',
       'Speciality'], dtype=object)

# Step 2: Data Wrangling for Training

In [14]:
#define a function that wrangles the base standard data
#i.e. grouping categories (crude feature engineering based on IV analysis)

def load_clean_data2(standard_df, segment):
    #load data
    basis_df = standard_df

    #add new target columns
    target_filename =  'tagged_12months_v2.csv'
    target_filepath = f'./Raw_Data/{target_filename}'
    
    new_col12m = pd.read_csv(target_filepath)
    new_col12m = new_col12m.rename(columns={'loan_customer_no':'loan_account_no'})

    merged_df_12m = pd.merge(basis_df, new_col12m, on='loan_account_no')
    full_df = merged_df_12m.copy()

    df = full_df.copy()
    #variable adjustments
    
    #manufacturer - Jan ok
    df['manufacturer_grp'] = np.where(
        (df['manufacturer'] == 'JAWA') | (df['manufacturer'] == 'HERO')
        | (df['manufacturer'] == 'KTM'),
        'GROUP_A', df['manufacturer'])
    
    df['manufacturer_grp'] = np.where(
        (df['manufacturer'] == 'APRILIA') | (df['manufacturer'] == 'BAJAJ_AUTO')
        | (df['manufacturer'] == 'HONDA') | (df['manufacturer'] == 'PIAGGIO')
        | (df['manufacturer'] == 'SUZUKI')| (df['manufacturer'] == 'TVS')
        , 'GROUP_B', df['manufacturer_grp'])

    df['manufacturer_grp'] = np.where(
        (df['manufacturer'] == 'BENELLI') | (df['manufacturer'] == 'KAWASAKI')
        | (df['manufacturer'] == 'ROYAL_ENFIELD')| (df['manufacturer'] == 'YAMAHA'),
        'GROUP_C', df['manufacturer_grp'])

    #channel - Jan ok
    df['channel_grp'] = np.where(
        (df['channel'] == 'ALTERNATE_CHANNEL') | (df['channel'] == 'BRANCH')
        | (df['channel'] == 'DIRECT')| (df['channel'] == 'REFERRAL'),
        'NON_DEALER', df['channel'])

    #industry - Jan ok
    df['industry_grp'] = np.where(
        (df['industry'] == 'BROADLINE/_MULTILINE') | (df['industry'] == 'HARDWARE_EQUIPMENT')
        | (df['industry'] == 'HEALTHCARE_PROVIDERS') | (df['industry'] == 'HOUSEHOLD_PRODUCTS')
        | (df['industry'] == 'TRANSPORTATION_LOGISTICS') | (df['industry'] == 'FOOD_&_BEVERAGES')
        | (df['industry'] == 'FOOD_PROCESSING') | (df['industry'] == 'TRANSPORT'),
        'GROUP_A', df['industry'])

    df['industry_grp'] = np.where(
        (df['industry'] == 'FOOD_PRODCUTS') | (df['industry'] == 'APPARELS')
        | (df['industry'] == 'AGRICULTURE') | (df['industry'] == 'OTHERS')
        , 'GROUP_B',df['industry_grp'])

    df['industry_grp'] = np.where(
        (df['industry_grp'] != 'GROUP_A') & (df['industry_grp'] != 'GROUP_B'),
        'GROUP_C',df['industry_grp'])

    #branch_name - Jan ok
    df['branch_grp'] = np.where(
        (df['branch_name'] == 'WEST_BANGALORE') | (df['branch_name'] == 'NORTH_BANGALORE') |
        (df['branch_name'] == 'EAST_DELHI') | (df['branch_name'] == 'FARIDABAD') |
        (df['branch_name'] == 'SOUTH_BANGALORE')| (df['branch_name'] == 'GURGAON')|
        (df['branch_name'] == 'GHAZIABAD')| (df['branch_name'] == 'EAST_BANGALORE'),
            'GROUP_A',df['branch_name'])
    
    df['branch_grp'] = np.where(
        (df['branch_name'] == 'NOIDA') | (df['branch_name'] == 'THANE') |
        (df['branch_name'] == 'N_WESTERN_MUMBAI') | (df['branch_name'] == 'SOUTH_DELHI'), 
        'GROUP_B',df['branch_grp'])

    df['branch_grp'] = np.where(
        (df['branch_name'] == 'EASTERN_MUMBAI') | (df['branch_name'] == 'HARBOUR_MUMBAI') |
        (df['branch_name'] == 'WEST_DELHI'), 
        'GROUP_C',df['branch_grp'])

    df['branch_grp'] = np.where(
        (df['branch_name'] == 'WESTERN_MUMBAI') | (df['branch_name'] == 'S_MUMBAI') |
        (df['branch_name'] == 'VIRAR') | (df['branch_name'] == 'NORTH_DELHI'), 
        'GROUP_D',df['branch_grp'])

    #grouping asset_model - Jan ok
    text_list = ['SPLENDOR', 'ACCESS', 'BURGMAN', 'ACTIVA', 'NTORQ', 'JUPITER', 'HF', 'AVENIS']
    # Function to check and assign text or 'Others'
    def check_text(value):
        value = value.replace('_', ' ')  # Replace underscores with spaces
        for text in text_list:
            if text in value:
                return text
        return 'OTHERS'

    # Create new column based on the function
    df['asset_model_grp'] = df['asset_model'].apply(check_text)

    #res_city - Jan ok
    df['res_city_grp'] = np.where(
        (df['res_city'] == 'MEERUT') | (df['res_city'] == 'GAUTAM_BUDDHA_NAGAR') |
        (df['res_city'] == 'GURGAON') | (df['res_city'] == 'BANGALORE'),
            'GROUP_A', df['res_city'])

    df['res_city_grp'] = np.where(
        (df['res_city'] == 'GHAZIABAD') | (df['res_city'] == 'DELHI'), 
            'GROUP_B',df['res_city_grp'])

    df['res_city_grp'] = np.where(
        (df['res_city'] == 'THANE')
        , 'GROUP_C',df['res_city_grp'])

    df['res_city_grp'] = np.where(
        (df['res_city_grp'] != 'GROUP_A') & (df['res_city_grp'] != 'GROUP_B')
        & (df['res_city_grp'] != 'GROUP_C'),
        'GROUP_D',df['res_city_grp'])

    #res_state - Jan ok
    df['res_state_grp'] = np.where(
        (df['res_state'] == 'HARYANA') | (df['res_state'] == 'KARNATAKA')
        , 'GROUP_A',df['res_state'])

    df['res_state_grp'] = np.where(
        (df['res_state'] == 'UTTAR_PRADESH') | (df['res_state'] == 'DELHI')
        , 'GROUP_B',df['res_state_grp'])

    df['res_state_grp'] = np.where(
        (df['res_state'] == 'MAHARASHTRA') | (df['res_state'] == 'LAKSHADWEEP')
        , 'GROUP_C',df['res_state_grp'])

    #res_resident_status - Jan ok
    df['res_resident_status_grp'] = np.where(
        (df['res_resident_status'] == 'OWNED_BY_PARENT_/SIBLING') | (df['res_resident_status'] == 'OWNED_BY_SELF/SPOUSE')
        , 'OWNED', df['res_resident_status'])

    df['res_resident_status_grp'] = np.where(
        (df['res_resident_status'] == 'COMPANY_PROVIDED') | (df['res_resident_status'] == 'RENTED')
        | (df['res_resident_status'] == 'HOSTEL')| (df['res_resident_status'] == 'PAYING_GUEST')
        , 'RENTED', df['res_resident_status_grp'])

    #branch_name
    df['nature_of_business'] = np.where(
        (df['nature_of_business'] == 'MANUFACTURING') | (df['nature_of_business'] == 'SERVICES') |
        (df['nature_of_business'] == 'OTHERS') ,
            'GROUPED',df['nature_of_business'])

    working_df = df.copy()
    working_df = working_df.drop(columns = ['manufacturer', 'channel','industry',
                                            'branch_name', 'asset_model','res_city',
                                            'res_state','res_resident_status'])

    #dfs
    if segment == 'NTC':
        df_NTC = working_df[working_df['bureau_score'] < 300]
        df_NTC = df_NTC.drop(columns = ['bureau_score'])
        return df_NTC
    
    elif segment == 'low_CIBIL':
        df_low_CIBIL = working_df[(working_df['bureau_score'] >= 300) & (working_df['bureau_score'] <= 730)]
        df_low_CIBIL = df_low_CIBIL.drop(columns = ['bureau_score'])
        return df_low_CIBIL
    
    elif segment == 'mid_CIBIL':
        df_mid_CIBIL = working_df[(working_df['bureau_score'] >= 731) & (working_df['bureau_score'] <= 749)]
        df_mid_CIBIL = df_mid_CIBIL.drop(columns = ['bureau_score'])
        return df_mid_CIBIL
    
    elif segment == 'high_CIBIL':
        df_high_CIBIL = working_df[working_df['bureau_score'] >= 750]
        df_high_CIBIL = df_high_CIBIL.drop(columns = ['bureau_score'])
        return df_high_CIBIL
        
    else:
        return ('Choose among NTC, low_CIBIL, mid_CIBIL, high_CIBIL')

In [15]:
wrangled_df_NTC = load_clean_data2(standard_data, 'NTC')
wrangled_df_low_CIBIL = load_clean_data2(standard_data, 'low_CIBIL')
wrangled_df_mid_CIBIL = load_clean_data2(standard_data, 'mid_CIBIL')
wrangled_df_high_CIBIL = load_clean_data2(standard_data, 'high_CIBIL')

wrangled_df_NTC.to_csv(f'./Wrangled_Data/wrangled_NTC.csv',index=False)
wrangled_df_low_CIBIL.to_csv(f'./Wrangled_Data/wrangled_low_CIBIL.csv',index=False)
wrangled_df_mid_CIBIL.to_csv(f'./Wrangled_Data/wrangled_mid_CIBIL.csv',index=False)
wrangled_df_high_CIBIL.to_csv(f'./Wrangled_Data/wrangled_high_CIBIL.csv',index=False)

In [16]:
print(wrangled_df_NTC.shape)
print(wrangled_df_low_CIBIL.shape)
print(wrangled_df_mid_CIBIL.shape)
print(wrangled_df_high_CIBIL.shape)

(19148, 26)
(11978, 26)
(7845, 26)
(13226, 26)

In [11]:
19148 + 11978 + 7845 + 13226

52197

In [17]:
basis_df.nature_of_business.unique()

array(['Services', 'Manufacturing', 'Others', 'Agriculture', nan,
       'Trading'], dtype=object)

In [18]:
for col in wrangled_df_NTC.columns:
    print(f'{col}')
    print(f'No. of unique values: {wrangled_df_NTC[col].nunique()}')
    print(f'No. of unique values: {wrangled_df_NTC[col].unique()} \n')

product_description
No. of unique values: 2
No. of unique values: ['TWO-WHEELER' 'USED_TWO-WHEELER']

loan_account_no
No. of unique values: 19148
No. of unique values: ['TW01010102000002232820' 'TW01010104000002231508'
 'TW01030105000002242335' ... 'TW01030101000002280247'
 'TW01020103000002281621' 'TW01010107000002248785']

res_years_at_current_city
No. of unique values: 70
No. of unique values: [ 50  13  20  15  30  12  23   5   0   1  22  26  36   9  40  35   6  10
  31  19  34  24  28   2  32  44  54  49  16  29  27   8  37   7  25  21
  48   4  60  38  42  39  46   3  53  33  41  18  14  17  47  45  43  51
  11  62  56  57  88  55  59  58  52 208  75 201  63 244  65  70]

age
No. of unique values: 9044
No. of unique values: [50.27197802 32.68406593 22.38736264 ... 38.81593407 46.65384615
 34.36538462]

down_payment_amount
No. of unique values: 5183
No. of unique values: [39817. 10600. 45446. ... 11573.  9004. 41545.]

total_income
No. of unique values: 427
No. of unique values: [9.600000e+05 3.600000e+05 4.560000e+05 4.200000e+05 6.000000e+05
 3.500000e+05 3.960000e+05 4.320000e+05 8.600000e+05 4.550000e+05
 3.900000e+05 4.800000e+05 4.000000e+05 3.840000e+05 8.680000e+05
 4.440000e+05 9.000000e+05 9.500000e+05 3.540000e+05 3.180000e+05
 5.400000e+05 2.400000e+05 3.360000e+05 3.000000e+05 5.600000e+05
 3.800000e+05 2.000000e+06 4.500000e+05 5.000000e+05 1.300000e+06
 2.500000e+05 3.120000e+05 7.500000e+05 5.880000e+05 3.468000e+05
 3.300000e+05 4.700000e+05 2.880000e+05 7.000000e+05 3.200000e+05
 3.240000e+05 1.200000e+06 4.600000e+05 5.500000e+05 1.080000e+06
 3.700000e+05 3.720000e+05 4.210000e+05 2.520000e+05 1.400000e+06
 4.260000e+05 3.500000e+04 5.868000e+05 4.300000e+05 3.100000e+05
 2.700000e+05 4.680000e+05 1.800000e+06 3.250000e+05 6.500000e+05
 7.200000e+05 7.176000e+05 2.640000e+05 4.620000e+05 1.920000e+05
 7.800000e+05 4.008000e+05 1.560000e+06 5.040000e+05 3.420000e+05
 5.100000e+05 8.500000e+05 5.200000e+05 7.990000e+05 1.000000e+06
 3.750000e+05 6.600000e+05 5.160000e+06 5.300000e+05 4.180000e+05
 3.216000e+05 3.480000e+05 5.800000e+05 2.760000e+05 2.400000e+06
 1.500000e+06 8.700000e+05 1.050000e+06 8.980000e+05 2.160000e+05
 5.250000e+05 4.400000e+05 3.650000e+05 8.000000e+05 5.760000e+05
 3.050000e+05 4.080000e+05 3.504000e+05 4.810000e+05 7.280000e+05
 4.100000e+05 9.970000e+05 1.100000e+06 5.280000e+05 5.400000e+06
 5.976000e+05 8.200000e+05 8.400000e+05 1.042800e+06 3.072000e+05
 8.950000e+05 3.690000e+05 1.700000e+06 4.820000e+05 2.820000e+05
 2.940000e+05 3.555550e+05 6.800000e+05 1.800000e+05 9.850000e+05
 1.020000e+06 3.060000e+05 8.990000e+05 6.200000e+05 4.900000e+05
 8.850000e+05 3.780000e+05 2.620000e+05 1.600000e+06 2.916000e+05
 7.980000e+05 6.150000e+05 4.120000e+05 4.250000e+05 4.632000e+05
 4.200000e+06 7.850000e+05 9.100000e+05 5.410000e+05 5.700000e+05
 3.936000e+05 5.520000e+05 4.330080e+05 3.890000e+05 8.250000e+05
 3.920000e+05 4.350000e+05 3.450000e+05 4.920000e+05 6.480000e+05
 4.533600e+05 3.336000e+05 7.600000e+05 3.660000e+05 4.776000e+05
 3.096000e+05 3.624000e+05 6.828000e+05 9.780000e+05 8.900000e+05
 4.850000e+05 5.000000e+06 6.840000e+05 5.900000e+05 3.400000e+05
 3.550000e+05 3.656320e+05 6.816000e+05 2.808000e+05 7.250000e+05
 2.580000e+05 3.700000e+06 9.120000e+05 3.396000e+05 3.680000e+05
 3.950000e+05 3.816000e+05 4.956000e+05 5.160000e+05 1.900000e+06
 3.000000e+04 6.240000e+05 7.200000e+06 6.180000e+05 8.300000e+05
 2.630000e+05 4.290000e+05 7.890000e+05 7.400000e+05 3.970000e+05
 2.800000e+05 3.600000e+06 3.384000e+05 4.308000e+05 7.440000e+05
 4.310000e+05 3.564000e+05 4.236550e+05 6.280000e+05 4.450000e+05
 8.650000e+05 6.350000e+05 3.912000e+05 7.750000e+05 3.084000e+05
 7.900000e+05 3.044880e+05 9.990000e+05 4.201080e+05 8.800000e+05
 7.870000e+05 4.460000e+05 2.460000e+05 4.150000e+05 3.576000e+05
 8.970000e+05 4.800000e+06 4.870000e+05 4.860000e+05 3.456000e+05
 3.531600e+05 4.104000e+05 7.550000e+05 9.900000e+05 4.610000e+05
 3.667080e+05 0.000000e+00 3.312000e+05 5.360000e+05 5.550000e+05
 5.616000e+05 4.140000e+05 4.220000e+05 5.760000e+06 5.890000e+05
 2.040000e+05 1.440000e+05 3.024000e+05 5.640000e+05 6.250000e+05
 3.850000e+05 3.990000e+05 9.700000e+05 3.907200e+05 3.150000e+05
 7.350000e+05 6.072000e+05 3.948000e+05 7.536000e+05 3.204000e+05
 5.940000e+05 3.444000e+05 3.880000e+05 8.890000e+05 3.700000e+04
 6.100000e+05 3.980000e+05 9.200000e+05 3.682260e+05 4.950000e+05
 4.890000e+05 8.500000e+04 6.850000e+05 1.040000e+06 1.010000e+06
 6.400000e+05 4.400860e+05 2.213646e+06 2.340000e+05 2.784000e+05
 4.200000e+02 6.360000e+05 1.060000e+06 3.552000e+05 9.576000e+05
 6.960000e+05 8.500000e+06 1.161600e+06 4.380000e+05 7.500000e+06
 2.280000e+05 3.965420e+05 5.480000e+05 3.340000e+05 8.670000e+05
 3.350000e+05 4.980000e+05 5.040000e+06 9.800000e+05 2.990000e+05
 1.920000e+06 4.896000e+05 4.020000e+05 4.563210e+05 5.124890e+05
 1.188000e+06 2.976000e+05 3.140000e+05 6.420000e+05 2.376000e+05
 2.600000e+05 2.000000e+04 8.100000e+05 3.600000e+04 3.569870e+05
 2.900000e+05 4.320000e+06 4.280000e+05 5.420000e+05 2.000000e+05
 7.130000e+05 8.376000e+05 3.000000e+06 6.300000e+05 1.085000e+06
 4.179600e+05 7.880000e+05 8.000000e+06 2.500000e+04 4.548000e+05
 7.908000e+05 3.560000e+05 3.168000e+05 7.100000e+05 3.760000e+05
 1.120000e+06 5.380000e+05 4.000000e+04 5.520000e+06 2.388000e+05
 3.516000e+05 4.224000e+05 3.048000e+05 2.980000e+05 3.689560e+05
 1.070000e+06 3.110000e+05 3.984000e+05 4.674590e+05 8.790000e+05
 3.500000e+06 3.440000e+05 4.236560e+05 8.268000e+05 4.215630e+05
 1.968000e+05 7.920000e+05 1.000000e+05 5.460000e+05 8.999800e+05
 3.490000e+05 2.220000e+05 3.220000e+05 2.952000e+05 4.325890e+05
 3.010000e+05 5.730000e+05 4.125680e+05 4.524000e+05 4.272000e+05
 5.844000e+05 3.940800e+05 2.100000e+05 4.788000e+05 9.975000e+05
 9.860000e+05 4.887720e+05 3.547200e+05 8.960000e+05 2.484000e+05
 4.680000e+06 3.130000e+05 3.805000e+05 2.950000e+05 4.025690e+05
 4.296000e+05 3.670000e+05 5.496000e+05 3.790000e+05 3.432000e+05
 5.430000e+05 3.968530e+05 4.656000e+05 3.094800e+05 4.029600e+05
 4.764000e+05 8.016000e+05 8.860000e+05 2.904000e+05 2.616000e+05
 3.120000e+06 3.580000e+05 3.870000e+05 4.668000e+05 2.160000e+06
 6.000000e+04 3.800000e+04 6.576000e+05 2.844000e+05 5.140000e+05
 4.050000e+05 7.308000e+05 2.780000e+05 7.080000e+05 4.420150e+05
 4.250000e+06 3.030000e+05 2.592000e+05 6.000000e+06 1.250000e+06
 5.682550e+05 3.742560e+05 6.760000e+05 7.896000e+05 4.932000e+05
 4.526330e+05 4.044000e+05 9.610000e+05 7.680000e+05 1.104000e+06
 1.000000e+04 2.410000e+05 7.820000e+05 5.478960e+05 5.736000e+05
 4.568950e+05 4.536000e+05]

occupation_type
No. of unique values: 3
No. of unique values: ['SELF_EMPLOYED_NON_PROFESSIONAL' 'SALARIED' 'SELF_EMPLOYED_PROFESSIONAL']

interest_rate
No. of unique values: 13
No. of unique values: [11.5  11.29 11.99 10.99 15.5  14.99 11.75 15.99 11.88 16.99 12.99 12.5
 11.76]

number_of_installments
No. of unique values: 6
No. of unique values: [36 12 30 24 18 48]

loan_asset_cost
No. of unique values: 2450
No. of unique values: [126817  99600 117446 ... 170500 125874 110078]

res_years_at_current_address
No. of unique values: 66
No. of unique values: [50 13 15 30 12 18  5  0  1 21 20 22 10  4 26  3  8 36  2  9 23  6 31 34
 24 28 32 44 54 19 16 25 49 27 37  7 35 48 40 38 42 46 53 33 29 14 41 39
 47 11 45 43 51 62 17 56 57 55 59 52 58 75 60 63 65 70]

gender
No. of unique values: 2
No. of unique values: ['MALE' 'FEMALE']

marital_status
No. of unique values: 3
No. of unique values: ['MARRIED' 'SINGLE' 'DIVORCED']

nature_of_business
No. of unique values: 3
No. of unique values: ['GROUPED' 'AGRICULTURE' 'TRADING']

years_in_occupation
No. of unique values: 36
No. of unique values: [ 4  3  2  5 10  1  6  8  9  7 19 13 20 15 17 16 12 14 35 11 18 30  0 25
 22 26 24 31 33 40 23 29 32 21 27 28]

monthly_income
No. of unique values: 427
No. of unique values: [8.00000000e+04 3.00000000e+04 3.80000000e+04 3.50000000e+04
 5.00000000e+04 2.91666667e+04 3.30000000e+04 3.60000000e+04
 7.16666667e+04 3.79166667e+04 3.25000000e+04 4.00000000e+04
 3.33333333e+04 3.20000000e+04 7.23333333e+04 3.70000000e+04
 7.50000000e+04 7.91666667e+04 2.95000000e+04 2.65000000e+04
 4.50000000e+04 2.00000000e+04 2.80000000e+04 2.50000000e+04
 4.66666667e+04 3.16666667e+04 1.66666667e+05 3.75000000e+04
 4.16666667e+04 1.08333333e+05 2.08333333e+04 2.60000000e+04
 6.25000000e+04 4.90000000e+04 2.89000000e+04 2.75000000e+04
 3.91666667e+04 2.40000000e+04 5.83333333e+04 2.66666667e+04
 2.70000000e+04 1.00000000e+05 3.83333333e+04 4.58333333e+04
 9.00000000e+04 3.08333333e+04 3.10000000e+04 3.50833333e+04
 2.10000000e+04 1.16666667e+05 3.55000000e+04 2.91666667e+03
 4.89000000e+04 3.58333333e+04 2.58333333e+04 2.25000000e+04
 3.90000000e+04 1.50000000e+05 2.70833333e+04 5.41666667e+04
 6.00000000e+04 5.98000000e+04 2.20000000e+04 3.85000000e+04
 1.60000000e+04 6.50000000e+04 3.34000000e+04 1.30000000e+05
 4.20000000e+04 2.85000000e+04 4.25000000e+04 7.08333333e+04
 4.33333333e+04 6.65833333e+04 8.33333333e+04 3.12500000e+04
 5.50000000e+04 4.30000000e+05 4.41666667e+04 3.48333333e+04
 2.68000000e+04 2.90000000e+04 4.83333333e+04 2.30000000e+04
 2.00000000e+05 1.25000000e+05 7.25000000e+04 8.75000000e+04
 7.48333333e+04 1.80000000e+04 4.37500000e+04 3.66666667e+04
 3.04166667e+04 6.66666667e+04 4.80000000e+04 2.54166667e+04
 3.40000000e+04 2.92000000e+04 4.00833333e+04 6.06666667e+04
 3.41666667e+04 8.30833333e+04 9.16666667e+04 4.40000000e+04
 4.50000000e+05 4.98000000e+04 6.83333333e+04 7.00000000e+04
 8.69000000e+04 2.56000000e+04 7.45833333e+04 3.07500000e+04
 1.41666667e+05 4.01666667e+04 2.35000000e+04 2.45000000e+04
 2.96295833e+04 5.66666667e+04 1.50000000e+04 8.20833333e+04
 8.50000000e+04 2.55000000e+04 7.49166667e+04 5.16666667e+04
 4.08333333e+04 7.37500000e+04 3.15000000e+04 2.18333333e+04
 1.33333333e+05 2.43000000e+04 6.65000000e+04 5.12500000e+04
 3.43333333e+04 3.54166667e+04 3.86000000e+04 3.50000000e+05
 6.54166667e+04 7.58333333e+04 4.50833333e+04 4.75000000e+04
 3.28000000e+04 4.60000000e+04 3.60840000e+04 3.24166667e+04
 6.87500000e+04 3.26666667e+04 3.62500000e+04 2.87500000e+04
 4.10000000e+04 5.40000000e+04 3.77800000e+04 2.78000000e+04
 6.33333333e+04 3.05000000e+04 3.98000000e+04 2.58000000e+04
 3.02000000e+04 5.69000000e+04 8.15000000e+04 7.41666667e+04
 4.04166667e+04 4.16666667e+05 5.70000000e+04 4.91666667e+04
 2.83333333e+04 2.95833333e+04 3.04693333e+04 5.68000000e+04
 2.34000000e+04 6.04166667e+04 2.15000000e+04 3.08333333e+05
 7.60000000e+04 2.83000000e+04 3.06666667e+04 3.29166667e+04
 3.18000000e+04 4.13000000e+04 4.30000000e+04 1.58333333e+05
 2.50000000e+03 5.20000000e+04 6.00000000e+05 5.15000000e+04
 6.91666667e+04 2.19166667e+04 3.57500000e+04 6.57500000e+04
 6.16666667e+04 3.30833333e+04 2.33333333e+04 3.00000000e+05
 2.82000000e+04 3.59000000e+04 6.20000000e+04 3.59166667e+04
 2.97000000e+04 3.53045833e+04 5.23333333e+04 3.70833333e+04
 7.20833333e+04 5.29166667e+04 3.26000000e+04 6.45833333e+04
 2.57000000e+04 6.58333333e+04 2.53740000e+04 8.32500000e+04
 3.50090000e+04 7.33333333e+04 6.55833333e+04 3.71666667e+04
 2.05000000e+04 3.45833333e+04 2.98000000e+04 7.47500000e+04
 4.00000000e+05 4.05833333e+04 4.05000000e+04 2.88000000e+04
 2.94300000e+04 3.42000000e+04 6.29166667e+04 8.25000000e+04
 3.84166667e+04 3.05590000e+04 0.00000000e+00 2.76000000e+04
 4.46666667e+04 4.62500000e+04 4.68000000e+04 3.45000000e+04
 3.51666667e+04 4.80000000e+05 4.90833333e+04 1.70000000e+04
 1.20000000e+04 2.52000000e+04 4.70000000e+04 5.20833333e+04
 3.20833333e+04 3.32500000e+04 8.08333333e+04 3.25600000e+04
 2.62500000e+04 6.12500000e+04 5.06000000e+04 3.29000000e+04
 6.28000000e+04 2.67000000e+04 4.95000000e+04 2.87000000e+04
 3.23333333e+04 7.40833333e+04 3.08333333e+03 5.08333333e+04
 3.31666667e+04 7.66666667e+04 3.06855000e+04 4.12500000e+04
 4.07500000e+04 7.08333333e+03 5.70833333e+04 8.66666667e+04
 8.41666667e+04 5.33333333e+04 3.66738333e+04 1.84470500e+05
 1.95000000e+04 2.32000000e+04 3.50000000e+01 5.30000000e+04
 8.83333333e+04 2.96000000e+04 7.98000000e+04 5.80000000e+04
 7.08333333e+05 9.68000000e+04 3.65000000e+04 6.25000000e+05
 1.90000000e+04 3.30451667e+04 4.56666667e+04 2.78333333e+04
 7.22500000e+04 2.79166667e+04 4.15000000e+04 4.20000000e+05
 8.16666667e+04 2.49166667e+04 1.60000000e+05 4.08000000e+04
 3.35000000e+04 3.80267500e+04 4.27074167e+04 9.90000000e+04
 2.48000000e+04 2.61666667e+04 5.35000000e+04 1.98000000e+04
 2.16666667e+04 1.66666667e+03 6.75000000e+04 3.00000000e+03
 2.97489167e+04 2.41666667e+04 3.60000000e+05 3.56666667e+04
 4.51666667e+04 1.66666667e+04 5.94166667e+04 6.98000000e+04
 2.50000000e+05 5.25000000e+04 9.04166667e+04 3.48300000e+04
 6.56666667e+04 6.66666667e+05 2.08333333e+03 3.79000000e+04
 6.59000000e+04 2.96666667e+04 2.64000000e+04 5.91666667e+04
 3.13333333e+04 9.33333333e+04 4.48333333e+04 3.33333333e+03
 4.60000000e+05 1.99000000e+04 2.93000000e+04 3.52000000e+04
 2.54000000e+04 2.48333333e+04 3.07463333e+04 8.91666667e+04
 2.59166667e+04 3.32000000e+04 3.89549167e+04 7.32500000e+04
 2.91666667e+05 2.86666667e+04 3.53046667e+04 6.89000000e+04
 3.51302500e+04 1.64000000e+04 6.60000000e+04 8.33333333e+03
 4.55000000e+04 7.49983333e+04 2.90833333e+04 1.85000000e+04
 2.68333333e+04 2.46000000e+04 3.60490833e+04 2.50833333e+04
 4.77500000e+04 3.43806667e+04 3.77000000e+04 3.56000000e+04
 4.87000000e+04 3.28400000e+04 1.75000000e+04 3.99000000e+04
 8.31250000e+04 8.21666667e+04 4.07310000e+04 2.95600000e+04
 7.46666667e+04 2.07000000e+04 3.90000000e+05 2.60833333e+04
 3.17083333e+04 2.45833333e+04 3.35474167e+04 3.58000000e+04
 3.05833333e+04 4.58000000e+04 3.15833333e+04 2.86000000e+04
 4.52500000e+04 3.30710833e+04 3.88000000e+04 2.57900000e+04
 3.35800000e+04 3.97000000e+04 6.68000000e+04 7.38333333e+04
 2.42000000e+04 2.18000000e+04 2.60000000e+05 2.98333333e+04
 3.22500000e+04 3.89000000e+04 1.80000000e+05 5.00000000e+03
 3.16666667e+03 5.48000000e+04 2.37000000e+04 4.28333333e+04
 3.37500000e+04 6.09000000e+04 2.31666667e+04 5.90000000e+04
 3.68345833e+04 3.54166667e+05 2.52500000e+04 2.16000000e+04
 5.00000000e+05 1.04166667e+05 4.73545833e+04 3.11880000e+04
 5.63333333e+04 6.58000000e+04 4.11000000e+04 3.77194167e+04
 3.37000000e+04 8.00833333e+04 6.40000000e+04 9.20000000e+04
 8.33333333e+02 2.00833333e+04 6.51666667e+04 4.56580000e+04
 4.78000000e+04 3.80745833e+04 3.78000000e+04]

dp_ratio
No. of unique values: 9795
No. of unique values: [0.3139721  0.1064257  0.3869523  ... 0.08827105 0.3774142  0.12692656]

D3_within12months
No. of unique values: 2
No. of unique values: [0 1]

manufacturer_grp
No. of unique values: 3
No. of unique values: ['GROUP_B' 'GROUP_A' 'GROUP_C']

channel_grp
No. of unique values: 2
No. of unique values: ['DEALER' 'NON_DEALER']

industry_grp
No. of unique values: 3
No. of unique values: ['GROUP_B' 'GROUP_C' 'GROUP_A']

branch_grp
No. of unique values: 4
No. of unique values: ['GROUP_C' 'GROUP_D' 'GROUP_A' 'GROUP_B']

asset_model_grp
No. of unique values: 9
No. of unique values: ['OTHERS' 'ACCESS' 'NTORQ' 'JUPITER' 'AVENIS' 'ACTIVA' 'BURGMAN'
 'SPLENDOR' 'HF']

res_city_grp
No. of unique values: 4
No. of unique values: ['GROUP_D' 'GROUP_B' 'GROUP_C' 'GROUP_A']

res_state_grp
No. of unique values: 3
No. of unique values: ['GROUP_C' 'GROUP_B' 'GROUP_A']

res_resident_status_grp
No. of unique values: 2
No. of unique values: ['OWNED' 'RENTED']